@{
    ViewBag.Title = "Bookshop";
}
<div>
    <h3></h3>
    <table>
        <tr>
            <td><p>Name</p></td>
            <td><p>Author</p></td>
            <td><p>Price</p></td>
        </tr>
        @foreach (var book in ViewBag.Books)
        {
            <tr>
                <td><p>@book.Name</p></td>
                <td><p>@book.Author</p></td>
                <td><p>@book.Price</p></td>
            </tr>
        }
    </table>
</div>